:root {
  --champagne-pink: #ffe2d1ff;
  --nyanza: #e1f0c4ff;
  --cambridge-blue: #6bab90ff;
  --viridian: #55917fff;
  --eggplant: #5e4c5aff;
  --font-family: "Arial", sans-serif;
}
*
{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
main
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}
header
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cambridge-blue);
    flex-direction: column;
}
.Ejercicio1
{
    display: flex;
    flex-direction: column;
    background-color: var(--cambridge-blue);
    justify-content: space-between;
}
.Ejercicio2
{
    display: flex;
    flex-direction: column;
    background-color: rgb(84, 106, 230);
    justify-content: space-between;
}



button {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--viridian);
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 26%;
  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}
.botones1
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.inputs
{
    display:flex;
    align-items: center;
    justify-content: center;
}
label{
    font-family: 'Courier New', Courier, monospace;
}
.ejercicio{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media screen and (max-width:800px)
{
    main{
        display: flex;
        flex-direction: column;
    }
}
body {
  background-color: var(--viridian);
  color: var(--eggplant);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}
/* Estilos para pantallas de tamaño mediano (tablets) */
@media (min-width: 768px) and (max-width: 1199px) {
  body {
    font-size: 16px;
  }
}

/* Estilos para pantallas pequeñas (teléfonos móviles) */
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 600px) and (max-width: 1000px) {
footer {
    padding-left: 50px;
    display: flex;
    background-color: #181823;
}}